.ipynb_checkpoints/
archive/
tools/
ebook.jupyterlab-workspace
Readme git jupyter-book.docx
_build/
editing_shortcuts.txt
instructor_resources/
data_for_practice/
*_instructor.ipynb
Readme Lesson*
*_class_notes.txt
*_pixel_data*
09_*
